@{
    ViewBag.Title = "Contact";
}
<h2>Derek Roberts</h2>

<address>
    12898 West Main St.<br />
    Alden, NY, 14004<br />
    <strong>Phone:</strong>
    (716) 512-0841
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:droberts14004@yahoo.com">droberts14004@yahoo.com</a><br />
</address>