@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome To My Music!</h1>
    <p class="lead">My name is Derek Roberts and this is My Music! Music is a big part of my life and
	whether I am at the gym, driving home, or just hanging out, I usually have my tunes on. Take a look at my list:</p>
    <p><a href="@Url.Action("Index", "Musics")" class="btn btn-primary btn-lg">My Music &raquo;</a></p>
</div>
